
@model SetupProject.Models.ProcurementDetail

@{
    ViewData["Title"] = "CreateManual";
}

<h1>Add Inventory</h1>


<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateManual" asp-route-id="@Model.Book.BookID" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Book.BookID)
            @Html.HiddenFor(model => model.ProcurementDetailID)
            @Html.HiddenFor(model => model.Book.UniqueNumber)

            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                @Html.DisplayFor(Model => Model.Book.Title, new { @class = "form-control" })
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="OrderCost" class="control-label"></label>
                <input asp-for="OrderCost" class="form-control" />
                <span asp-validation-for="Book.Cost" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Book.Cost" class="control-label"></label>
                @Html.DisplayFor(Model => Model.Book.Cost, new { @class = "form-control" })
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Order Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br/>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
