@model IEnumerable<SetupProject.Models.ProcurementDetail>
@using SetupProject.Models
@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1>Create New Book Order</h1>
</div>

<br/>
 <div class="text-center">
        <div class="btn-group-lg">

            <a asp-action="Search" asp-controller="ProcurementOrders" class="btn btn-outline-warning">Manual Order</a>
            <a asp-action="AutoOrderDisplay" asp-controller="ProcurementOrders" class="btn btn-outline-danger">Automatic Order</a>
         
        </div>
    </div>
<br/>

<table class="table">
    <thead>
           
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.UniqueNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcurementOrder.Status)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.UniqueNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcurementOrder.Status)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcurementDetailID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcurementDetailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcurementDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
