@model IEnumerable<SetupProject.Models.Review>

<h2>All Reviews</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
                <td>
                    <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@item.ReviewID" class="btn btn-danger">Edit <i class="fas fa-edit"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>
